body, p, h1, h2, ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.active {
  background: #fff !important;
}

.container {
  width: 980px;
  margin: auto;
}

.container .left-block {
  width: 678px;
  height: 500px;
  background: #e3edf7;
  float: left;
  border: 1px solid #000;
}

.container .left-block .title {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.container .left-block .block {
  margin-top: 50px;
  display: flex;
}

.container .left-block .block-title {
  float: left;
}

.container .left-block .block-title p {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.container .left-block .block-item {
  float: left;
}

.container .left-block .block span {
  background: #d0e0f0;
  color: #000;
  font-size: 12px;
  border-radius: 22px;
  padding: 12px 13px;
  cursor: pointer;
  border: 1px solid #b6c6d3;
  margin-right: 10px;
}

.container .left-block .block span:hover {
  background: #fff;
}

.container .right-block {
  width: 298px;
  height: 500px;
  background: #fff;
  float: right;
  border: 1px solid #000;
  text-align: center;
}

.container .right-block span {
  display: block;
  margin-top: 215px;
}
